<div class="container">
  <h1 class="title">
    {{ mytitle }}
  </h1>

  <form [formGroup]="photoForm" class="form">
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput placeHolder="ID" formControlName="id"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeHolder="Title" formControlName="title"/>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="!data ? addPhoto() : editPhoto()">
    Save
  </button>
</div>
